manifest {
    nextflowVersion = '>= 24.00.0'
}

//storage
aws {
    accessKey = secrets.ACCESS_KEY
    secretKey = secrets.SECRET_KEY
    client {
        endpoint = 'https://s3.embl.de/'
        s3PathStyleAccess = true
    }
}

conda {
    enabled = true
    useMamba = true
    cacheDir = '/g/arendt/Cyril/envs/nextflow'
}

apptainer {
    enabled = true
    autoMounts = true
    envWhitelist = 'CUDA_VISIBLE_DEVICES'
    cacheDir = '/scratch/cros/apptainer-cache'
}

executor {
    queueSize = 100
    submitRateLimit = "8/1sec"
    pollInterval = '10sec'
    exitReadTimeout = "5 min"
}

workflow {
    output {
        mode = 'copy'
        overwrite = 'lenient'
    }
}

process {
    executor = 'slurm'
    scratch = true
    cache = 'lenient'
    maxRetries = 1
    errorStrategy = { task.exitStatus == 1 ? 'retry' : 'terminate' }
    clusterOptions = '-p htc -N 1'

    withLabel: small_job {
        cpus = 4
        memory = '32 G'
        time = '24.h'
    }
    withLabel: 'pacbio_ccs' {
        cpus = 64
        memory = '256.GB'
        //scratch = 'ram-disk'
        time = '128.h'
        clusterOptions = '-p bigmem -N 1 -n 1'
        errorStrategy = 'ignore'
        conda = "bioconda::pbccs=6.4.0"
    }

}

//////////////////////////////
////// config for reports ////
//////////////////////////////

report {
    enabled = true
    file = "${params.trace_dir}/${params.name}_${new Date().format('yyyyMMdd_HHmmss')}_report.html"
}

timeline {
    enabled = true
    file = "${params.trace_dir}/${params.name}_${new Date().format('yyyyMMdd_HHmmss')}_timeline.html"
}

trace {
    enabled = true
    file = "${params.trace_dir}/${params.name}_${new Date().format('yyyyMMdd_HHmmss')}_trace.txt"
}

dag {
    enabled = true
    file = "${params.trace_dir}/${params.name}_${new Date().format('yyyyMMdd_HHmmss')}_dag.html"
}
